{{ partial "head.html" . }}
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <div id="container">
    <div id="main" class="moveMain">
      {{ $pages := where .Data.Pages "Type" "post" }}
        {{ $paginator := .Paginate $pages }}
        {{ range $paginator.Pages.GroupByDate "2006年01月" }}
          <h2 class="list-date" id="{{ .Key }}">{{ .Key }}</h2>
          {{ range .Pages }}
            {{ partial "article.html" . }}
          {{end}}
        {{end}}

      <div>{{ partial "pagination.html" . }}</div>
    </div>
    {{ partial "sidebar.html" . }}
  </div>
  <footer>{{ partial "footer.html" . }}</footer>
  {{ partial "after_footer.html" .}}
</body>
</html>
